
#body {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-image: url(balloon.jpg);
	background-repeat: no-repeat;
	background-position: 100% auto;
}

.header-style1 {
	margin: 10px;
	border-radius: 60px 60px 50px 70px;
	height: 150px;
	
}

